<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
    
    <!-- 全局取bean工具类 -->
    <bean id="springContextHelper" class="com.swj.utils.SpringContextHelper"/>
    <!-- BaseAction -->
    <bean id="baseAction" class="com.swj.action.BaseAction" scope="prototype">
    	<property name="baseService" ref="baseService"/>
    </bean>
    
    <!-- ^华丽的分割线^ -->
	<bean id="userSampleAction" class="com.swj.action.sample.UserSampleAction" parent="baseAction">
		<property name="userSampleService" ref="userSampleService"/>
	</bean>
	
	<bean id="fzJofc2Action" class="com.swj.action.sample.FzJofc2Action" parent="baseAction"/>
	
	<bean id="userAction" class="com.swj.action.user.UserAction" parent="baseAction">
		<property name="userService" ref="userService"/>
	</bean>
	
	<bean id="driverAction" class="com.swj.action.driver.DriverAction" parent="baseAction">
		<property name="driverService" ref="driverService"/>
		<property name="userService" ref="userService"/>
	</bean>
	
</beans>