<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
        http://www.springframework.org/schema/security   
        http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!-- 不拦截项 -->
	<http pattern="/simplaAdmin_login.jsp*" security="none"/>
	<http pattern="/login.jsp*" security="none"/>
	<http pattern="/common/**" security="none"/>
	<http pattern="/css/**" security="none"/>
	<http pattern="/download/**" security="none"/>
	<http pattern="/flash/**" security="none"/>
	<http pattern="/images/**" security="none"/>
	<http pattern="/scripts/**" security="none"/>
	<http pattern="/tlds/**" security="none"/>
	
	<!-- 拦截项 -->
	<http auto-config="true" access-denied-page="/security.jsp">
		<intercept-url pattern="/userSampleAction*/**" access="ROLE_ADMIN"/>
		<intercept-url pattern="/fzJofc2Action*/**" access="ROLE_ADMIN"/>
		<intercept-url pattern="/certprint*/**" access="ROLE_ADMIN"/>
		<intercept-url pattern="/**" access="ROLE_USER,ROLE_ADMIN"/>
		<form-login login-page="/simplaAdmin_login.jsp"/>
		<remember-me />
		<logout logout-success-url="/simplaAdmin_login.jsp" delete-cookies="JESSIONID"/>
	</http>
	
	<!-- 验证管理 -->
	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="md5"/>
			<user-service>
				<user name="user" password="ee11cbb19052e40b07aac0ca060c23ee" authorities="ROLE_USER"/>
				<user name="admin" password="21232f297a57a5a743894a0e4a801fc3" authorities="ROLE_ADMIN"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>