.scroll{
	top:0px;
	left:0px;
	width:720px;
	height:380px;
	position: absolute;		
	overflow:scroll;	
}
.cert{
	position:absolute;
	left:0px;
	top:0px;
	border-top:  2px solid;
	border-right:  2px solid;
	border-bottom:  2px solid;
	border-left:  2px solid;
}
.data{
	position:absolute;
	font-family: "ו";
	font-size: 14px;	
	color: blue;
	cursor:hand;
}